.p-manchete {
  font-size: 20px;
  line-height: 1.8;
  text-align: justify;
  width: 80%;
}

.section-manchete {
  align-items: center;
  border: black solid 1px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10vh;
  width: 30%;
}

b {
  color: #036b52;
}